.signUp {
    position: absolute;
    right: -54px;
    transform: translateX(100%);
    width: 134px;
    height: 62px;
    background: #000000;
    border-radius: 7px;
    font-size: 24px;
    font-family: poppins;
    font-weight: 500;
    color: #FEFEFE;
}