.signUp {
    position: absolute;
    right: -54px;
    transform: translateX(100%);
    width: 134px;
    height: 62px;
    background: #000000;
    border-radius: 7px;
    font-size: 24px;
    font-family: poppins;
    font-weight: 500;
    color: #FEFEFE;
    border: none
}

.shopNow {
    width: 220px;
    height: 82px;
    background: #000000;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
    border: none
}